@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
/*Color palette
Primary #072ac8
Secondary #1e96fc
Accent #a2d6f9
Buttons #fcf300
Hover btn #ffc600
Side bar gradient
background: rgb(30,150,252);
background: linear-gradient(180deg, rgba(30,150,252,1) 25%, rgba(162,214,249,1) 63%);
BG #FAFBFC


*/
.primary {color: #072ac8;}
.secondary {color: #1e96fc}
.accent {color: #a2d6f9}



/* Global classes */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html {
	font-family: 'Open Sans';
  font-size: 16px;
  line-height: 21px;
}

body, .article {
  font-size: 1rem;
  line-height: 1.3125rem;
  width: 100%;
  margin: auto;
  background: #fff;
  position: relative;
  display: flex;
}




h1, .h1 {
  font-size: calc(2.49rem + 2.7vw);
  line-height: 5.25rem;
  margin-top: 1.3125rem;
  margin-bottom: 2.625rem;

  
  
  /* line-height: 1.2; */
  padding: 1rem 1rem 1rem 2rem;
  display: flex;
  margin-left: 2rem;
}

h2, .h2 {
  font-size: calc(1.325rem + 0.9vw);
  line-height: 2.5714286rem;
  margin-top: 1.2857143rem;
  margin-bottom: 1.2857143rem;
  padding: 1rem 1rem 1rem 2rem;
  font-weight: lighter;
}
h3, .h3 {
  font-size: calc(1.3rem + 0.6vw);
  line-height: 2.5714286rem;
  font-weight: lighter;
  margin-top: 1.2857143rem;
  margin-bottom: 0rem;
  padding: 1rem 1rem 1rem 2rem;
}
h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
  line-height: 1.2857143rem;
  margin-top: 1.2857143rem;
  margin-bottom: 0rem;
  padding: 1rem 1rem 1rem 2rem;
}
h5, .h5 {
  font-size: 1.25rem;
  line-height: 1.2857143rem;
  margin-top: 1.2857143rem;
  margin-bottom: 0rem;
  padding: 1rem 1rem 1rem 2rem;
}

h6, .h6 {
  font-size: 1rem;
  line-height: 1.2857143rem;
  margin-top: 1.2857143rem;
  margin-bottom: 0rem;
  padding: 1rem 1rem 1rem 2rem;
}



p, ul, ol, pre, table, blockquote {
  margin-top: 0rem;
  margin-bottom: 1.2857143rem;
  padding: 1rem 1rem 1rem 2rem;
  line-height: normal;
  font-weight: 100;
  text-align: left;

}




ul ul, ol ol, ul ol, ol ul {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

/* Let's make sure all's aligned */





hr, .hr {
  margin: 1.5rem !important;
}
a, b, i, strong, em, small, code {
  line-height: 0;
}

.bold {font-weight: bold;}

.pb-1 {padding-bottom: 1rem;}



.container {
  /* --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0; */

  width: 100%;
  padding-top: 1rem;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.bg {
  background-color: #FAFBFC;
}
.bg-primary {background-color: #072ac8;}
.bg-secondary{background-color: #1e96fc;}

.hero {
    position: relative;
    padding:0 !important;
    height: auto;
    margin-top:70px !important;
    margin-top: 23px;
    text-align:center;
    margin-bottom: 0 !important;
}


/* h1 {
  font-size: calc(1.475rem + 2.7vw);
  font-weight: 500;
  line-height: 1.2;
  padding: 1rem 0 1rem 0;
  display: flex;
  margin-left: 2rem;

} */
/* h2 {
  font-size: 1.25rem;
  font-weight: lighter;
  margin-left: 2rem;
} */

/* h2:nth-of-type(1) {
padding: 1rem;
font-weight: bold;} */


.separator {
    position: relative;
    top: 0;
}


/* Padding top */
.p-top{padding-top: 2rem;}

.hero-subhead h2{
text-align: left;
/* margin-right: 50%; */
padding-bottom: 1.5rem;
}
.hero-subhead button {
align-items: end;
margin-left: 2rem;
}

/* .sub-h {
  font-size: 1.25rem;
  font-weight: 300;
} */



.flex-container {
  /* We first create a flex layout context */
  display: flex;
  
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;
  
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
  
  padding: 0;
  margin: 0;
  list-style: none;
}

/* .flex-container p {
  display: flex;
  text-align: center;
} */

.flex-item {
  /* background: tomato; */
  padding: 5px;
  width: 500px;
  height: 200px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  border-radius: 10px;
}



.grid-container {
  grid-template-columns: 100px 50px 100px;
  grid-template-rows: 80px auto 80px; 
  column-gap: 10px;
  row-gap: 15px;
}

.img-fluid {
  max-width: 100%;
  height: 309.10px;
  border-bottom: 1px solid #072ac8;
}

.pt-3 {
  padding-top: 3rem;
}

.h1-white {color: #FAFBFC;}

/* Aligns text to bottom of the div */
.bottom {
  position: absolute;
        bottom: 0;
        /* right: 0; */
}

/* Responsive table */
.responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .responsive-table .table-header {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .responsive-table .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }
  .responsive-table.col-1 {
    flex-basis: 10%;
  }
  .responsive-table .col-2 {
    flex-basis: 40%;
  }
  .responsive-table .col-3 {
    flex-basis: 25%;
  }
  
  @media all and (max-width: 767px) {
    .table-header {
      display: none;
    }
    /* .table-row{
      
    } */
    li {
      display: block;
    }
    .col {
      
      flex-basis: 100%;
      
    }
    .col {
      display: flex;
      padding: 10px 0;}
      .col::before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
      }
    }
  









.btn {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background: #072ac8;
  border-width: thin;
  border-color: transparent;
  border-radius: 0.375rem;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  display: flex;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.btn:hover {
  color: #fff;
  background-color: #1e96fc;
  border-color: transparent;
}




/* Dropdown */


.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0rem);
}

.arrow {
  transform: rotate(180deg);
  transition: 0.2s ease;

}/* Sidebar title */
.side-bar {
  position: fixed;
  top: auto;
  /* background: rgb(30,150,252);
  background: linear-gradient(180deg, rgba(30,150,252,1) 25%, rgba(162,214,249,1) 63%);  height: 100%; */
  overflow-y: scroll;
  width: 300px;
  border-right: 1px solid #072ac8;
}
.side-bar .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black; /*Change to primary color*/
  padding: 30px 0 0 30px;
}

.container-sidebar {
  /* --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0; */

  width: 100%;
  /* padding-top: 1rem; */
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}



/* .side-bar .logo img {
  width: 300px;
  height: 300px;
  /* margin-right: 15px; */
/* /////////////////////////////////////////////////////////////////// */

/* .flex-shrink-0 {
  flex-shrink: 0 !important;
}
.p-3 {
  padding: 1rem !important;
}

.bg-white {
  background-color: white;
}
.d-flex {
  display: flex !important;
}
.align-items-center {
  align-items: center !important;
}

.pb-3 {
  padding-bottom: 1rem !important;
}
.mb-3 {
  margin-bottom: 1rem !important;
}
.link-dark {
  color: #212529 !important;
}
.text-decoration-none {
  text-decoration: none !important;
}

.border-bottom {
  border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

.me-2 {
  margin-right: 0.5rem !important;
}
.fs-5 {
  font-size: 1.25rem !important;
}
.fw-semibold {
  font-weight: 600 !important;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.ps-0 {
  padding-left: 0 !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}
.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle { outline: 0; }

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

/* .scrollarea {
  overflow-y: auto;
} */

/* .lh-tight { line-height: 1.25; }

.align-items-center {
  align-items: center !important;
}

.rounded {
  border-radius: var(--bs-border-radius) !important;
}
.collapse:not(.show) {
  display: none;
}

.fw-normal {
  font-weight: 400 !important;
}

.pb-1 {
  padding-bottom: 0.25rem !important;
}

small, .small {
  font-size: 0.875em;
} */ 






/* /////////////////////////////////////////////////////////////////// */



.h2-sidebar {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.side-bar .items {
  margin-top: 40px;
}

.side-bar .items li {
  list-style: none;
  padding: 15px 0;
  transition: 0.3s ease;
}

/* Links hover */
.side-bar .items li:hover {
  background: #a2d6f9;
  cursor: pointer;
}

.side-bar .items li:nth-child(1) {
  border-left: 4px solid #fff;
}

/* Sidebar link text color */
.side-bar .items li i {
  color: black;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  margin: 0 10px 0 25px;
}
/* Sidebar link text color hover */
.side-bar .items li:hover i,
.side-bar .items li:hover a {
  color: #F3F4F6;
}

.side-bar .items li a {
  text-decoration: none;
  color: black;
  font-weight: 300px;
  transition: 0.3s ease;
}

/* Side bar links */
.active {
font-weight: bold;
}



/* Navigation bar */

.interface {
  width: calc(100% - 300px);
  margin-left: 300px;
  position: absolute;
}

.navigation-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 15px 30px;
  border-bottom: 3px solid #072ac8;
  position: fixed;
  width: calc(100% - 300px);
  z-index: 2;
}

.interface .navigation-bar .search-field {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 14px;
  border: 1px solid #d7dbe6;
  border-radius: 4px;
}

.interface .navigation-bar .search-field i {
  margin-right: 14px;
}

.interface .navigation-bar .search-field input {
  border: none;
  outline: none;
  font-size: 14px;
}

.interface .navigation-bar .resources {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.interface .navigation-bar .resources i {
  margin-right: 20px;
  font-size: 19px;
  font-weight: 400;
}

.interface .navigation-bar .resources img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.n1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.n1 i {
  display: none;
}

.side-bar-btn {
  display: none;
  color: #2b2b2b;
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px;
}

.resources a {
  color: #072ac8;
/* Needs to be resized */
}


.search-field i {
  display: initial;
}



/* Section title - Changes according the page */
.i-name {
  color: #072ac8;
  padding: 30px 30px 30px 30px;
  font-size: 24px;
  font-weight: 700;
  margin-top: 70px;
}



/* Cards section */
.cards {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.box {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border: 1px solid #072ac8;
  border-radius: 10%;
/* background: rgb(30,150,252);
background: radial-gradient(circle, rgba(30,150,252,1) 25%, rgba(162,214,249,1) 63%);  border-radius: 40px; */
/* box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22); */
  cursor: pointer;
  transition: 0.4s;
}

/* Card link */
.box a{
  text-decoration: none;
}
/* .box .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.box .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
} */

.box .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 30px;
  margin-top: 120px;
  height: 40px;
}

.box:hover {
  transform: scale(0.9, 0.9);
  /* box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22); */
}

.title-white {
  color: #072ac8;
}

.title-black {
  color: black;
}


/* Media Queries */

@media (max-width: 769px){
  .side-bar {
    width: 270px;
    position: fixed;
    left: -270px;
    transition: 0.3s ease;
}
.side-bar.active {
    left: 0px;
}
.side-bar-btn {
    display: initial;
}
.n1 i {
  display: initial;
  margin-right: 1rem;
}

.interface {
    width: 100%;
    margin-left: 0px;
    display: inline-block;
    transition: 0.3s ease;
}
.side-bar.active~.interface {
    width: calc(100% - 270px);
    margin-left: 270px;
    transition: 0.3s ease;
}
.interface .navigation-bar {
    width: 100%;
}
/* .section {
  display: block;
} */
.container{max-width: 720px;}
}


/* Smaller Screens */
@media (max-width:477px) {
  .interface .navigation-bar {
      padding: 15px;
  }
  .interface .navigation-bar .search-field input {
      width: 150px;
  }

  .i-name {
      padding: 30px 15px 0 15px;
  }

  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
  .container{max-width: 540px;}
}

