@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
/*Color palette
Primary #072ac8
Secondary #1e96fc
Accent #a2d6f9
Buttons #fcf300
Hover btn #ffc600
Side bar gradient
background: rgb(30,150,252);
background: linear-gradient(180deg, rgba(30,150,252,1) 25%, rgba(162,214,249,1) 63%);
BG #FAFBFC


/* Color Palette */
.primary {color: #072ac8;}
.secondary {color: #1e96fc;}
.accent {color: #a2d6f9;}
.alt {color:#fcf300;}


/* Background color for sections */
.bg {background-color: #FAFBFC;}
.bg-primary {background-color: #072ac8;}
.bg-secondary{background-color: #1e96fc;}
.bg-accent {background-color: #a2d6f9;}
.bg-alt {background-color: #fcf300;}

/* Background gradient */
.bg-gdnt {background: linear-gradient(180deg, rgba(30,150,252,1) 25%, rgba(162,214,249,1) 63%);}


/* Text color */
.t-primary {color: #072ac8;}
.t-secondary {color: #1e96fc;}
.t-accent {color: #a2d6f9;}
.t-black {color: #2b2b2b;} /*Accent Text*/
.t-white {color: #F3F4F6;}

/* Font weight */
/* Font Size */
.fz-200{font-size: 2rem;}

.bold {font-weight: bold;}

/* Paddings */
.pb-1 {padding-bottom: 1rem;}







/* Borders */
.b-neutral {border: 1px solid#d7dbe6;}
.b-primary{border: 1px solid #072ac8;}
.b-secondary{border: 1px solid #1e96fc;}
.b-accent {border: 1px solid #a2d6f9;}
.b-alt {border: 1px solid #fcf300}





code {
  font-size: .875em;
  color: #072ac8;
  word-wrap: break-word;
}





/* Global classes */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/* html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, fieldset, form, label, legend, textarea, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  line-height: 24px;
} */








html {
	font-family: 'Open Sans';
  font-size: 1rem;
  line-height: 1.31rem;
}

body, .article {
  font-size: 1rem;
  line-height: 1.3125rem;
  width: 100%;
  margin: auto;
  background: #fff;
  position: relative;
  display: flex;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
  color: #2b2b2b;
}

h1 {
  font-size: calc(1.33rem + 2.7vw);
  /* line-height: 2.5rem; */
  margin-top: 1.25rem;
  margin-bottom: 2.5rem;
  padding: 1rem 1rem 1rem 2rem;
  /* display: flex; for index*/
}



h2 {
  font-size: calc(1.26rem + 0.9vw);
  line-height: 3.75rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  padding: 1rem 1rem 1rem 2rem;
}

.h1 {
  font-size: calc(1.33rem + 2.7vw);
  margin: 0;
  padding: 0;
  }
.h2{
  font-size: calc(1.26rem + 0.9vw);
  margin: 0;
  padding: 0;}
.h3 {
  font-size: calc(1.20rem + 0.6vw);
  margin: 0;
  padding: 0;}

.h4 {
  font-size: calc(1.15rem + 0.3vw);
  margin: 0;
  padding: 0;}
.h5 {
  font-size: 1.09rem;
  margin: 0;
  padding: 0;}

.h6 {
  font-size: 1.04rem;
  margin: 0;
  padding: 0;}




h3{
  font-size: calc(1.20rem + 0.6vw);
  line-height: 2.5rem;
  margin-top: 1.25rem;
  margin-bottom: 0rem;
  padding: 1rem 1rem 1rem 2rem;
}
h4 {
  font-size: calc(1.15rem + 0.3vw);
  line-height: 1.50rem;
  margin-top: 1.25rem;
  margin-bottom: 0rem;
  padding: 1rem 1rem 1rem 2rem;
}
h5 {
  font-size: 1.09rem;
  line-height: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 0rem;
  padding: 1rem 1rem 1rem 2rem;
}

h6 {
  font-size: 1.04rem;
  line-height: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 0rem;
  padding: 1rem 1rem 1rem 2rem;
}

.hero > h2{
text-align: left;
font-size: 1.25rem;
font-weight: 300;
margin-bottom: 0;
color: #F3F4F6;
}
.hero-subhead button {
align-items: end;
margin-left: 2rem;
}
.subheading{
font-size: 1.25rem;
font-weight: 300;
}


/* Divider */
hr, .hr {
margin: 0 2rem 0 2rem;
border: 1px solid #072ac8;
border-radius: 10px;
}

p, ul, ol, blockquote { /*pre*/
  margin-top: 0rem;
  margin-bottom: 1.25rem;
  padding: 1rem 1rem 1rem 2rem;
  line-height: normal;
  font-weight: 100;
  text-align: left;
  font-size: 1rem;
  color: #2b2b2b;
}

.p{
  padding: 1rem 1rem 0 1rem;
  text-align: center;
}

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

/* Let's make sure all's aligned */


a, b, i, strong, em, small, code {
  line-height: 0;
}



.pb-1 {padding-bottom: 1rem;}

.align-items{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container {
  width: 100%;
  padding-top: 1rem;
  padding-right: calc(1.5rem * 0.5);
  padding-left: calc(1.5rem * 0.5);
  margin-right: auto;
  margin-left: auto;
}



.hero {
    position: relative;
    padding:0 !important;
    height: 309.10px;
    margin-top:70px !important;
    margin-top: 23px;
    /* text-align: center; */
    margin-bottom: 0 !important;
}
.h-200 {height: 239px;}



/* to remove the arrow */
details summary::-webkit-details-marker {
  display:none;
}
details > summary {
  list-style: none;
}
details > summary a {
  text-decoration: none;
  padding-left: 0.5rem;
  color: black;
}
details > summary i {
  margin-left: 1rem;
}


/* h1 {
  font-size: calc(1.475rem + 2.7vw);
  font-weight: 500;
  line-height: 1.2;
  padding: 1rem 0 1rem 0;
  display: flex;
  margin-left: 2rem;

} */
/* h2 {
  font-size: 1.25rem;
  font-weight: lighter;
  margin-left: 2rem;
} */

/* h2:nth-of-type(1) {
padding: 1rem;
font-weight: bold;} */


.separator {
    position: relative;
    top: 0;
}
.justify-content-sb {justify-content: space-between;}


/* Padding top */
.p-top{padding-top: 2rem;}
.pt-1 {padding-top: 1rem;}
.pt-2{padding-top: 2rem;}
.pt-3 {padding-top: 3rem;
}
/* Inside color cards */

.flex {display: flex;}
.color-table{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.justify-content--center {justify-content: center;}
.flex-auto {flex: 1 1 auto;}
.c-table {border-collapse: collapse;}
.table-text {
  font-size: 1rem;
  line-height: inherit;
  font-weight: lighter;
}
table {border-spacing: 0;}
.c-table__row {border-bottom: 1px solid;}

tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  line-height: 24px;
}
tr {display: table-row;}

.v-visuallyHidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
.c-table td {
  padding: 3px 6px;
  line-height: 1.1;
}

.c-table td {
  padding: 3px 6px;
  min-width: 15ch;
  line-height: 1.1;
}



span {margin: 0;
    padding: 0;
    border: 0;
    font-style: inherit;
    font-size: 1rem;
    font-family: inherit;
    vertical-align: baseline;
}


@media only screen and (max-width: 40em){
.c-contrastTable td {
    min-width: auto;
}
}


.flex-container {
  /* We first create a flex layout context */
  display: flex;
  
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;
  
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
  
  padding: 0;
  margin: 0;
  list-style: none;
  padding-bottom: 1rem;
}

/* .p-example {
padding: 18px 15px;
margin-left: 48px;
position: relative;
margin: 0;
padding: 0;
border: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
line-height: 24px;
} */


.flex-item {
  padding: 5px;
  width: 500px;
  height: 200px;
  margin-top: 10px;
  line-height: 150px;
  font-weight: bold;
  font-size: 3em;
  border-radius: 10px;
}
/* .flex-item-x {
    padding: 5px;
    width: 500px;
    height: 200px;
    margin-top: 10px;
    line-height: 150px;
    font-weight: bold;
    font-size: 3em;
    border-radius: 10px;
  flex-grow: 1;
} */





/* Code block container */
.block-container {
  position: relative;
  width: 300px;
}
.content__default .block-container {
  margin-bottom: 5.125rem;
}

.block-container .example {
border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #a2d6f9;
    border-bottom: 0;
}

.padding-xl{
  padding: 2rem;
}
.block.attached-top {
  width: 300px;
  height: 100px;
  margin-top: 1rem;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border: 1px solid #a2d6f9;
}
.block {
  position: relative;
  margin: 5.125rem 0;;
  border-radius: 0.1867rem;
  padding: 0.125rem;
}

.block-container > button {
text-align: center;
margin: auto;
}

.block-container > .btn-link {
  text-align: center;
margin: auto;

}



@media 
  only screen
  and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px){
    
    /* Color Cards */
    .flex-item {
    width: 300px;
    height: 200px;}

    /* Headings */
    h1, h2, h3, h4, h5, h6 {
      text-align: center;
    }
    .h1, .h2, .h3, .h4, .h5, .h6 {
      text-align: center;
    }
    .bottom {right: 100px;}
    

    /* Table typography */
    .table > .table-header{display: none;}
    .table-row {flex-direction: column;}
    .col{margin-bottom: 1rem;}

    .table li {
      flex: flex-shrink;}
}





.p-flex{
  /* background: tomato; */
  padding: 5px;
  width: 500px;
  height: 200px;
  margin-top: 10px;
  line-height: 150px;
  /* color: white; */
  font-weight: bold;
  font-size: 3em;
  /* text-align: center; */
  border-radius: 10px;
}



.grid-container {
  grid-template-columns: 100px 50px 100px;
  grid-template-rows: 80px auto 80px; 
  column-gap: 10px;
  row-gap: 15px;
}



/* Images */

/* For the logo */
.img-fluid {
  max-width: 100%;
  height: 309.10px;
  border-bottom: 1px solid #072ac8;
}

/* Individual img */
.img-x{
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Groups of img */
.flex-img {
  padding: 1rem;
  width: 500px;
  margin-top: 10px;
  border-radius: 10px;
}
figure {margin: 0 0 1rem;}

figcaption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;}

/* Thumbnail */



.thumbnail {
	width: 250px;
	height: 150px;
	background: #eee;
	cursor: pointer;
	float: left;
	margin: 30px;
}
.thumbnail-1 {
	background-image: url("img/kevin-laminto-LL1vA5sUs6g-unsplash.jpg");
	background-position: center center;
	background-size: cover;
	perspective: 450px;
	position: relative;
  border-radius: 10px;
}
.thumbnail .SocialIcons {
	display: flex;
	flex-direction: column;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 15px;
	transform: rotateY(90deg);
	transform-origin: left center 0;
	transition: all 350ms ease;
}
.thumbnail-1 .SocialIcons a {
	background: #ffffff none repeat scroll 0 0;
	font-size: 20px;
	height: 25px;
	margin-bottom: 1px;
	position: relative;
	text-align: center;
	width: 25px;
  border-radius: 10px;
}
.thumbnail .SocialIcons a i {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}
.profilebox .SocialIcons a:nth-child(1) {
}
.profilebox .SocialIcons a:nth-child(2) {
}
.profilebox .SocialIcons a:nth-child(3) {
}
.thumbnail:hover .SocialIcons {
	opacity: 1;
	left: 15px;
	transform: rotateY(0deg);
}
.thumbnail .profileInfo {
	background: #ffffff none repeat scroll 0 0;
	bottom: 0;
	height: 25px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	width: 90%;
	transform: rotatex(90deg);
	transform-origin: bottom center 0;
	transition: all 350ms ease;
	opacity: 0;
  border-radius: 10px;
}
.thumbnail .profileInfo > p {
    margin-bottom: 0rem;
    padding-left: 3rem;
}
.thumbnail:hover .profileInfo {
	opacity: 1;
	bottom: 10px;
	transform: rotatex(0deg);
}



.hero > h1 {
  color: #FAFBFC;
text-align: initial;
padding-top: 5rem;}

/* Aligns text to bottom of the div */
.bottom {
  position: absolute;
        bottom: 0;
        /* right: 0; */
}

/* Responsive table */
.table li {
    border-radius: 3px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    flex-wrap: wrap;
  }
  .table .table-header {
    background-color: #1e96fc;
    font-size: 1.04rem;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    padding: 3rem;
  }
  .table .table-row {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }
  .col {
    flex: 1 1 0%;
  }

	




/* Buttons */

.btn-primary {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background: #072ac8;
  border-width: thin;
  border-color: transparent;
  border-radius: 0.375rem;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  display: flex;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary:hover {
  color: #fff;
  background-color: #1e96fc;
  border-color: transparent;
}

.btn-secondary {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background: #1e96fc;
  border-width: thin;
  border-color: transparent;
  border-radius: 0.375rem;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  display: flex;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-secondary:hover {
  color: #fff;
  background-color: #072ac8;
  border-color: transparent;
}

.btn-cta {
  padding: 0.275rem 0.75rem 0.275rem 2rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #2b2b2b;
  background: #fcf300;
  width: 100px;
  border-width: thin;
  border-color: transparent;
  border-radius: 0.375rem;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  display: flex;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  transform: scale(1);
  animation: pulse-black 2s infinite;
}

.btn-cta:hover {
  color: #2b2b2b;
  background-color: transparent;
  border: 1px solid #fcf300;
}

@keyframes pulse-black {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(246, 242, 4, 0.7);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.btn-link {
  padding: 0.275rem 0.75rem 0.275rem 2rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #072ac8;
  background: transparent;
  width: 100px;
  border-width: thin;
  /* border: 1px solid #072ac8; */
  border-radius: 0.375rem;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  display: flex;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.btn-link:hover {
  color: #FAFBFC;
  background-color: #072ac8;
}

.btn-outlined {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #2b2b2b;
  background: transparent;
  border-width: thin;
  border:1px solid #2b2b2b;
  border-radius: 0.375rem;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  display: flex;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-outlined:hover {
  color: #fff;
  background-color: #2b2b2b;
  border:1px solid #2b2b2b;
}

.btn-primary-lg {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background: #072ac8;
  width: 150px;
  border-width: thin;
  border-color: transparent;
  border-radius: 0.375rem;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  display: flex;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary-lg:hover {
  color: #fff;
  background-color: #1e96fc;
  border-color: transparent;
}

.btn-primary-sm {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background: #072ac8;
  width: 75px;
  border-width: thin;
  border-color: transparent;
  border-radius: 0.375rem;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  display: flex;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary-sm:hover {
  color: #fff;
  background-color: #1e96fc;
  border-color: transparent;
}
.btn-primary-block {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background: #072ac8;
  /* width: 80vh; */
  width: 300px;
  border-width: thin;
  border-color: transparent;
  border-radius: 0.375rem;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  display: flex;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary-block:hover {
  color: #fff;
  background-color: #1e96fc;
  border-color: transparent;
}



/* Dropdown */

.dropdown {
  display: inline-block;
  margin: 30px;
  position: relative;
  width: 150px;
  text-align: center;
}
label {
  width: 100%;
  position: absolute;
  line-height: 45px;
  top: 0px;
  left: 0px;
  background-color: #072ac8;
  color: #FAFBFC;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);  font-weight: 700;
  text-align: center;
  -webkit-transition: 0.04s ease-in-out;
  transition: 0.04s ease-in-out;
}
.list {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 45px;
  left: 0px;
  border-top: 1px solid #eee;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.option {
  width: 100%;
  line-height: 45px;
  background-color: #fff;
  border-radius: 45px;
  margin-top: 0.5rem;
  text-align: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);  
  font-weight: 700;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  font-weight: 400;
}
.option:hover {
  background-color: #eee;
}
.flex-container > .block-container {
  height: 400px;
  margin-top: 3rem;
}

.flex-container .block-container > p{
  padding: 1rem 1rem 1rem 1rem;
}

/**********
***********/

#drop:checked~ .opt-list {
  visibility: visible;
  opacity: 2;
  z-index: 10;
}


@media 
  only screen
  and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px){
.dropdown {margin-left: 4.5rem;}
 .flex-container > .block-container {margin-top: 15rem;}

  }










.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0rem);
}

.arrow {
  transform: rotate(180deg);
  transition: 0.2s ease;

}/* Sidebar title */
.side-bar {
  position: fixed;
  top: auto;
  /* background: rgb(30,150,252);
  background: linear-gradient(180deg, rgba(30,150,252,1) 25%, rgba(162,214,249,1) 63%);  height: 100%; */
  overflow-y: scroll;
  width: 300px;
  border-right: 1px solid #072ac8;
  height: 100vh; /*Extend it to the max viewport*/
}
.side-bar .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black; /*Change to primary color*/
  padding: 30px 0 0 30px;
}

.container-sidebar {
  /* --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0; */

  width: 100%;
  /* padding-top: 1rem; */
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}



/* .side-bar .logo img {
  width: 300px;
  height: 300px;
  /* margin-right: 15px; */
/* /////////////////////////////////////////////////////////////////// */

/* .flex-shrink-0 {
  flex-shrink: 0 !important;
}
.p-3 {
  padding: 1rem !important;
}

.bg-white {
  background-color: white;
}
.d-flex {
  display: flex !important;
}
.align-items-center {
  align-items: center !important;
}

.pb-3 {
  padding-bottom: 1rem !important;
}
.mb-3 {
  margin-bottom: 1rem !important;
}
.link-dark {
  color: #212529 !important;
}
.text-decoration-none {
  text-decoration: none !important;
}

.border-bottom {
  border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

.me-2 {
  margin-right: 0.5rem !important;
}
.fs-5 {
  font-size: 1.25rem !important;
}
.fw-semibold {
  font-weight: 600 !important;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.ps-0 {
  padding-left: 0 !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}
.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle { outline: 0; }

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

/* .scrollarea {
  overflow-y: auto;
} */

/* .lh-tight { line-height: 1.25; }

.align-items-center {
  align-items: center !important;
}

.rounded {
  border-radius: var(--bs-border-radius) !important;
}
.collapse:not(.show) {
  display: none;
}

.fw-normal {
  font-weight: 400 !important;
}

.pb-1 {
  padding-bottom: 0.25rem !important;
}

small, .small {
  font-size: 0.875em;
} */ 






/* /////////////////////////////////////////////////////////////////// */



.h2-sidebar {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.side-bar .items {
  margin-top: 40px;
}

.side-bar .items li {
  list-style: none;
  padding: 15px 0;
  transition: 0.3s ease;
}

/* Links hover */
.side-bar .items li:hover {
  background: #a2d6f9;
  cursor: pointer;
}

.side-bar .items li:nth-child(1) {
  border-left: 4px solid #fff;
}

/* Sidebar link text color */
.side-bar .items li i {
  color: black;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  margin: 0 10px 0 25px;
}
/* Sidebar link text color hover */
.side-bar .items li:hover i,
.side-bar .items li:hover a {
  color: #F3F4F6;
}

.side-bar .items li a {
  text-decoration: none;
  color: black;
  font-weight: 300px;
  transition: 0.3s ease;
}

/* Side bar links */
.active {
font-weight: bold;
}



/* Navigation bar */

.interface {
  width: calc(100% - 300px);
  margin-left: 300px;
  position: absolute;
}

.navigation-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 15px 30px;
  border-bottom: 3px solid #072ac8;
  position: fixed;
  width: calc(100% - 300px);
  z-index: 2;
}

.interface .navigation-bar .search-field {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 14px;
  border: 1px solid #d7dbe6;
  border-radius: 4px;
}

.interface .navigation-bar .search-field i {
  margin-right: 14px;
}

.interface .navigation-bar .search-field input {
  border: none;
  outline: none;
  font-size: 14px;
}

.interface .navigation-bar .resources {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.interface .navigation-bar .resources i {
  margin-right: 20px;
  font-size: 19px;
  font-weight: 400;
}

.interface .navigation-bar .resources img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.n1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.n1 i {
  display: none;
}

.side-bar-btn {
  display: none;
  color: #2b2b2b;
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px;
}

.resources a {
  color: #072ac8;
/* Needs to be resized */
}


.search-field i {
  display: initial;
}

/* Navigation bar for example site */

.nav {
  height: 50px;
  width: 100%;
  background-color: #072ac8;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
  padding-right: 0.5rem;
}

.nav > .nav-links > a {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}



/* Media Queries: Navigation bar for sample site */
@media 
  only screen
  and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px){
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}







/* Section title - Changes according the page */
.i-name {
  color: #072ac8;
  padding: 30px 30px 30px 30px;
  font-size: 24px;
  font-weight: 700;
  margin-top: 70px;
}



/* Cards section */
.cards {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.box {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border: 1px solid #072ac8;
  border-radius: 10%;
/* background: rgb(30,150,252);
background: radial-gradient(circle, rgba(30,150,252,1) 25%, rgba(162,214,249,1) 63%);  border-radius: 40px; */
/* box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22); */
  cursor: pointer;
  transition: 0.4s;
}

/* Card link */
.box a{
  text-decoration: none;
}
/* .box .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.box .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
} */

.box .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 30px;
  margin-top: 120px;
  height: 40px;
}

.box:hover {
  transform: scale(0.9, 0.9);
  /* box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22); */
}

.title-white {
  color: #072ac8;
}

.title-black {
  color: black;
}


/* Media Queries */



@media(min-device-width: 768px){
  .p-flex {height: 500px;
}

}



@media (max-width: 767px){
  .side-bar {
    width: 270px;
    position: fixed;
    left: -270px;
    transition: 0.3s ease;
}
.side-bar.active {
    left: 0px;
}
.side-bar-btn {
    display: initial;
}
.n1 i {
  display: initial;
  margin-right: 1rem;
}

.interface {
    width: 100%;
    margin-left: 0px;
    display: inline-block;
    transition: 0.3s ease;
}
.side-bar.active~.interface {
    width: calc(100% - 270px);
    margin-left: 270px;
    transition: 0.3s ease;
}
.interface .navigation-bar {
    width: 100%;
}
/* .section {
  display: block;
} */
.container{max-width: 720px;}
.p-flex{height: 500px;
    width: 370px;
    padding: 1rem;
    text-align: justify;
    margin-left: 1rem;
}
}


/* Smaller Screens */
@media (max-width:477px) {
h1{padding: 1rem 3rem 1rem 2rem;}




  .interface .navigation-bar {
      padding: 15px;
  }
  .flex-item {
    height: 250px;
width: 300px;
  }
table{flex-shrink: 1;}
  
  .interface .navigation-bar .search-field input {
      width: 150px;
  }

  .i-name {
      padding: 30px 15px 0 15px;
  }

  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
  .container{max-width: 540px;}
  .flex-container{
      display: grid;
    }
figcaption{
  margin-left: 5rem;
  margin-right: 6rem;
}
    }
    





