@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
/*Color palette
Primary #072ac8
Secondary #1e96fc
Accent #a2d6f9
Buttons #fcf300
Hover btn #ffc600
Side bar gradient
background: rgb(30,150,252);
background: linear-gradient(180deg, rgba(30,150,252,1) 25%, rgba(162,214,249,1) 63%);
BG #FAFBFC


/* Color Palette */
.primary {color: #072ac8;}
.secondary {color: #1e96fc;}
.accent {color: #a2d6f9;}
.alt {color:#fcf300;}


/* Color palette container for name in center */
.c-pl > .flex-container > .grid-container .flex-item > .container{
  padding-top: 3rem;
}


/* Background color for sections */
.bg {background-color: #FAFBFC;}
.bg-primary {background-color: #072ac8;}
.bg-secondary{background-color: #1e96fc;}
.bg-accent {background-color: #a2d6f9;}
.bg-alt {background-color: #fcf300;}
.bg-t{background-color: transparent;}


/* Background gradient */
.bg-gdnt {background: linear-gradient(180deg, rgba(30,150,252,1) 25%, rgba(162,214,249,1) 63%);}


/* Text color */
.t-primary {color: #072ac8;}
.t-secondary {color: #1e96fc;}
.t-accent {color: #a2d6f9;}
.t-black {color: #2b2b2b;} /*Accent Text*/
.t-white {color: #FAFBFC;}

.t-dl:hover { text-decoration: 4px solid #FAFBFC;}

/* Font weight */
/* Font Size */
.fz-200{font-size: 2rem;}

.bold {font-weight: bold;}

/* Paddings */
/* Bottom */
.pb-1 {padding-bottom: 1rem;}

/* Top */
.p-top{padding-top: 2rem;}
.pt-1 {padding-top: 1rem;}
.pt-2{padding-top: 2rem;}
.pt-3 {padding-top: 3rem;
}



.justify-content-sb {justify-content: space-between;}







.h-200 {height: 239px;}






/* Borders */
.b-neutral {border: 1px solid#d7dbe6;}
.b-primary{border: 1px solid #072ac8;}
.b-secondary{border: 1px solid #1e96fc;}
.b-accent {border: 1px solid #a2d6f9;}
.b-alt {border: 1px solid #fcf300}


/* Code snippets */

.code-s > ul {width: 720px;}
.code-s {
  padding-bottom: 1rem;
  margin-left: 1rem;}
.code-s > summary li {padding-bottom: 1rem;}

@media 
  only screen
  and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px){
  .code-s > ul {
    width: 350px;
    padding: 0;
}
.gist .gist-file {width: 300px;}
  }




/* Global classes */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}



html {
	font-family: 'Open Sans';
  font-size: 1rem;
  line-height: 1.31rem;
}

body, .article {
  font-size: 1rem;
  line-height: 1.3125rem;
  width: 100%;
  margin: auto;
  background: #fff;
  position: relative;
  display: flex;
}

/* Heading Tags */

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
  color: #2b2b2b;
}

h1 {
  font-size: calc(1.33rem + 2.7vw);
  /* line-height: 2.5rem; */
  /* margin-top: 1.25rem; */
  /* margin-bottom: 2.5rem; */
  padding: 1rem 1rem 1rem 2rem;
  /* display: flex; for index*/
}

h2 {
  font-size: calc(1.26rem + 0.9vw);
  line-height: 3.75rem;
  margin-top: 1.25rem;
  /* margin-bottom: 1.25rem; */
  padding: 1rem 1rem 1rem 2rem;
}

h3{
  font-size: calc(1.20rem + 0.6vw);
  line-height: 2.5rem;
  margin-top: 1.25rem;
  margin-bottom: 0rem;
  padding: 1rem 1rem 1rem 2rem;
}
h4 {
  font-size: calc(1.15rem + 0.3vw);
  line-height: 1.50rem;
  margin-top: 1.25rem;
  margin-bottom: 0rem;
  padding: 1rem 1rem 1rem 2rem;
}
h5 {
  font-size: 1.09rem;
  line-height: 1.25rem;
  /* margin-top: 1.25rem; */
  margin-bottom: 0rem;
  padding: 1rem 1rem 1rem 2rem;
}

h6 {
  font-size: 1.04rem;
  line-height: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 0rem;
  padding: 1rem 1rem 1rem 2rem;
}

/* Heading Classes */

.h1 {
  font-size: calc(1.33rem + 2.7vw);
  margin: 0;
  padding: 0;
  }
.h2{
  font-size: calc(1.26rem + 0.9vw);
  margin: 0;
  padding: 0;}
.h3 {
  font-size: calc(1.20rem + 0.6vw);
  margin: 0;
  padding: 0;}

.h4 {
  font-size: calc(1.15rem + 0.3vw);
  margin: 0;
  padding: 0;}
.h5 {
  font-size: 1.09rem;
  margin: 0;
  padding: 0;}

.h6 {
  font-size: 1.04rem;
  margin: 0;
  padding: 0;}

  /* Divider */
hr, .hr {
  margin: 0 2rem 0 2rem;
  border: 1px solid #072ac8;
  border-radius: 10px;
  }

  /* Text/paragraphs tags */
  
  p, ul, ol, blockquote { /*pre*/
    margin-top: 0;
    /* margin-bottom: 1.25rem; */
    margin-left: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    line-height: normal;
    font-weight: 100;
    text-align: left;
    font-size: 1rem;
    color: #2b2b2b;
  }
  
  .p {
    padding: 1rem 1rem 1rem 1rem;
    text-align: center;
  }
 


  ul ul, ol ol, ul ol, ol ul {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  
  a, b, i, strong, em, small, code {
    line-height: 0;
  }

  /* Images */
  /* Hero image for sample site */
  .bg-img{
    background-image: url(/img/ryan-moreno-mkKqRSpIAi4-unsplash.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    /* opacity: 80%; */
    }
    .bg-img > * {
      box-sizing: 0;
    }


/* Hero section design system */

.hero {height: 100px;}
.hero > h1 {
  color: #FAFBFC;
text-align: initial;
padding-top: 2rem;}

.hero > h2{
text-align: left;
font-size: 1.25rem;
font-weight: 300;
margin-bottom: 0;
color: #F3F4F6;
}
.hero-subhead button {
align-items: end;
margin-left: 2rem;
}
.subheading {
font-size: 1.25rem;
font-weight: 300;
margin-left: 1rem;
}


/* Hero for Sample Page */
.banner-inner {
  display: flex;
  /* position: absolute; */
  flex-direction: column;
  align-items: flex-start;
  /* row-gap: 1.75rem; */
}

.flex-grid {
  position: absolute;
  padding: 10rem 0 1rem 2.5rem;
  width: 600px;
}

.heading-xl {
  font-family: inherit;
      font-size: clamp(2.648rem, 6vw, 4.241rem);
      font-weight: 700;
      line-height: 1.15;
      color: #FAFBFC;
}

.paragraph {
  font-family: inherit;
   font-size: clamp(1rem, 2vw, 1.125rem);
   line-height: inherit;
   max-width: 95%;
   height: auto;
   text-transform: unset;
   color: #FAFBFC;
}

.banner-inner > button {
  margin-left: 2rem
}

.banner-inner > h1 {margin-bottom: 0;}



/* Wrapper for responsiveness */
.wrapper {
  display: flex;  
  flex-flow: row wrap;
  /* font-weight: bold; */
  text-align: left; 
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

/* Medium screens */
@media all and (min-width: 600px) {
  /* We tell both sidebars to share a row */
  .aside { flex: 1 auto; }
}

/* Large screens */
@media all and (min-width: 800px) {
  /* We invert order of first sidebar and main
   * And tell the main element to take twice as much width as the other two sidebars 
   */
  .main { flex: 3 0px; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

@media 
  only screen
  and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px){
.flex-grid {
  grid-template-columns: repeat(2, minmax(0, 1fr));
         justify-content: center;
         width: 500px;
      }

   /* Hero design system    */
   .hero > h1 {
  text-align: center;
   }

  /* Table design system */
  .headings > .c-table td {
    padding: 3px 6px;
  width: 500px;
  }
/* Table headings design system */
.headings > .c-table td > h1,
.headings > .c-table td  > h2, 
.headings > .c-table td > h3,
.headings > .c-table td > h4,
.headings > .c-table td > h5,
.headings > .c-table td > h6 {
  text-align: left;
}
  .banner-inner > h1 {
    text-align: left;
    padding: 1rem;
  }
  .banner-inner > button {
  margin-left: 5rem;
  }  
nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
    margin-right: 1rem;
    position: relative;
    background-color: transparent;
    box-shadow: none;
}
.nav > .nav-links {
  background-color: #a2d6f9;
}

/* This is for the text-block in typography */
.text-block > h1 {
  text-align: left;
  margin-left: 2rem;
}

}




.align-items{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container {
  width: 100%;
  padding-top: 1rem;
  padding-right: calc(1.5rem * 0.5);
  padding-left: calc(1.5rem * 0.5);
  margin-right: auto;
  margin-left: auto;
}









/* to remove the arrow */
details summary::-webkit-details-marker {
  display:none;
}
details > summary {
  list-style: none;
}
details > summary a {
  text-decoration: none;
  padding-left: 0.5rem;
  color: black;
}
details > summary i {
  margin-left: 1rem;
}


.separator {
    position: relative;
    top: 0;
}

/* Inside color cards */

.flex {display: flex;}
.color-table{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 2rem;
  width: 300px;
}

/* This is for BG-text examples */
.color-table > .table-text{
  margin-left: 0.5rem;
}
.bg-example > .flex-item {width: 313px;}
.bg-example > p {
  padding: 1rem 0 1rem;
  text-align: center;
margin-left: 0;}


.justify-content--center {justify-content: center;}
.flex-auto {flex: 1 1 auto;}
.c-table {border-collapse: collapse;}

.table-text {
  font-size: 1rem;
  line-height: inherit;
  font-weight: lighter;
}
table {border-spacing: 0;}
.c-table__row {border-bottom: 1px solid;}

tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  /* vertical-align: baseline; */
  line-height: 24px;
}
tr {display: table-row;}

.v-visuallyHidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
.c-table td {
  padding: 3px 6px;
  line-height: 1.1;
}

.c-table td {
  padding: 3px 6px;
width: 500px;
line-height: 1.1;
}


.headings > .c-table td > h1,
.headings > .c-table td > h2,
.headings > .c-table td > h3,
.headings > .c-table td > h4,
.headings > .c-table td > h5,
.headings > .c-table td > h6,
.headings > .c-table td > span {
line-height: inherit; 
    margin-top: inherit; 
    margin-bottom: inherit;
    padding: inherit; 
}


span {margin: 0;
    padding: 0;
    border: 0;
    font-style: inherit;
    font-size: 1rem;
    font-family: inherit;
    vertical-align: baseline;
}


@media only screen and (max-width: 40em){
.c-contrastTable td {
    min-width: auto;
}
}


.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
  padding-bottom: 1rem;
}

/* .p-example {
padding: 18px 15px;
margin-left: 48px;
position: relative;
margin: 0;
padding: 0;
border: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
line-height: 24px;
} */


.flex-item {
  padding: 5px;
  width: 500px;
  height: 200px;
  margin-top: 10px;
  line-height: 150px;
  font-weight: bold;
  font-size: 3em;
  border-radius: 10px;
}


/* Breadcrumb */
.breadcrumbs {
  border: 1px solid #cbd2d9;
  border-radius: 0.3rem;
  display: inline-flex;
  overflow: hidden;
}

.breadcrumbs__item {
  background: #fff;
  color: #333;
  outline: none;
  padding: 1rem 1rem 1rem 1.5rem;
  position: relative;
  text-decoration: none;
  transition: background 0.2s linear;
  width: 125px;
}

.breadcrumbs__item:hover:after,
.breadcrumbs__item:hover {
  background: #edf1f5;
}

.breadcrumbs__item:focus:after,
.breadcrumbs__item:focus,
.breadcrumbs__item.is-active:focus {
  background: #323f4a;
  color: #fff;
}

.breadcrumbs__item:after,
.breadcrumbs__item:before {
  background: white;
  bottom: 0;
  clip-path: polygon(50% 50%, -50% -50%, 0 100%);
  content: "";
  left: 100%;
  position: absolute;
  top: 0;
  transition: background 0.2s linear;
  width: 1em;
  z-index: 1;
}

.breadcrumbs__item:before {
  background: #cbd2d9;
  margin-left: 1px;
}

.breadcrumbs__item:last-child {
  border-right: none;
}

.breadcrumbs__item.is-active {
  background: #072ac8;
  color: #FAFBFC;
}
.b-crumb > .flex-container{
  /* padding-left: 15rem; */
  margin-left: 19rem;
    justify-content: space-between;
}



/* Forms */
  
/* form { */
  /* Center the form on the page */
  /* margin: 0 auto;
  width: 400px; */
  /* Form outline */
  /* padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
} */

/* .label { */
  /* Uniform size & alignment */
  /* display: inline-block;
  width: 90px;
  text-align: right;
} */

/* input,
textarea { */
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  /* font: 1em sans-serif; */

  /* Uniform text field size */
  /* width: 300px;
  box-sizing: border-box; */

  /* Match form field borders */
  /* border: 1px solid #999;
} */

/* input:focus,
textarea:focus { */
  /* Additional highlight for focused elements */
  /* border-color: #000;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: lighter;
} */

/* textarea { */
  /* Align multiline text fields with their labels */
  /* vertical-align: top; */

  /* Provide space to type some text */
  /* height: 5em;
  font-size: 1rem;
  font-weight: lighter;
} */

/* .button { */
  /* Align buttons with the text fields 
   padding-left: 90px; /* same size as the label elements */
/* } */

/* button { */
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  /* margin-left: 0.5em;
} */


.form-container {
  max-width: 500px;
  height: 725px;
  padding-right: calc(2rem * 0.5);
  padding-left: calc(2rem * 0.5);
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
}

form{
  display: flex;
  flex-flow: column;
}

.label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 50px;
  text-align: right;
}

input,
select,
textarea {
  font-size: 1em;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/* This is only for container in design system */



input[type="email"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 1rem;
  resize: vertical;
}
input[type="tel"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 1rem;
  resize: vertical;
}


textarea {
  font-family: 'Open Sans', sans-serif;;
}

fieldset {
  margin-bottom: 16px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly ;
}

.label-required {
  font-size: 0.8rem;
  color: #2b2b2b;
}
.flex-item > button {
  text-align: center;
  margin: auto;
}

.form-container > h2 {
  text-align: center;
  padding-top: 0;
}









/* Code block container */
.block-container {
  position: relative;
  width: 300px;
}
.content__default .block-container {
  margin-bottom: 5.125rem;
}

.block-container .example {
border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #a2d6f9;
    border-bottom: 0;
}

.padding-xl{
  padding: 2rem;
}
.block.attached-top {
  width: 300px;
  height: 100px;
  margin-top: 1rem;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border: 1px solid #a2d6f9;
}
.block {
  position: relative;
  margin: 5.125rem 0;;
  border-radius: 0.1867rem;
  padding: 0.125rem;
}

.block-container > button {
text-align: center;
margin: auto;
}

.block-container > .btn-link {
  text-align: center;
margin: auto;

}



@media 
  only screen
  and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px){
    
    /* Color Cards */
    .flex-item {
    width: 300px;
    height: 200px;}

    /* Headings */
    h1, h2, h3, h4 {
      text-align: center;
      padding: 1rem 1rem 0 0;
      margin-top: 0;
      margin-bottom: 0;
    }
    h5, h6 {
      margin-top: 0;
      margin-bottom: 0;
    }
    .h1, .h2, .h3, .h4, .h5, .h6 {
      text-align: center;
    }
    .bottom {right: 100px;}
    

    /* Table typography */
    .table > .table-header{display: none;}
    .table-row {flex-direction: column;}
    .col{margin-bottom: 1rem;}

    .table li {
      flex: flex-shrink;}

      /* Breadcrumb */
      .breadcrumbs__item {
        width: 75px;
      padding: 1rem;}

      .b-crumb > .flex-container {
        padding: 0;
        margin: 0;
        justify-content: center;
      }

        .flex-item > p {
          padding: 0.5rem;
        }
/* Background color table example */
        .bg-example > .flex-item {height: 200px;}

/* Color palette cards text */
        .c-pl > .flex-container > .grid-container .flex-item > .container {
          padding-top: 4rem;
      }
      .c-pl > .flex-container > .grid-container .flex-item {
width: 300px;
height: 200px;
padding: 0;
margin-top: 0;
}
  }



/* Responsive paragraphs */
.p-flex{
  padding: 5px;
  width: 500px;
  height: 200px;
  margin-top: 10px;
  line-height: 150px;
  font-weight: bold;
  font-size: 3em;
  border-radius: 10px;
}



.grid-container {
  grid-template-columns: 100px 50px 100px;
  grid-template-rows: 80px auto 80px; 
  column-gap: 10px;
  row-gap: 15px;
}



/* Images */

/* For the logo */
.img-fluid {
  max-width: 100%;
  height: 250px;
  border-bottom: 1px solid #072ac8;
}

/* Individual img */
.img-x{
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Groups of img */
.flex-img {
  padding: 1rem;
  width: 500px;
  margin-top: 10px;
  border-radius: 10px;
}
figure {margin: 0 0 1rem;}

figcaption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;}

/* Thumbnail */



.thumbnail {
	width: 250px;
	height: 150px;
	background: #eee;
	cursor: pointer;
	float: left;
	margin: 30px;
}
.thumbnail-1 {
	background-image: url("img/kevin-laminto-LL1vA5sUs6g-unsplash.jpg");
	background-position: center center;
	background-size: cover;
	perspective: 450px;
	position: relative;
  border-radius: 10px;
}
.thumbnail .SocialIcons {
	display: flex;
	flex-direction: column;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 15px;
	transform: rotateY(90deg);
	transform-origin: left center 0;
	transition: all 350ms ease;
}
.thumbnail-1 .SocialIcons a {
	background: #ffffff none repeat scroll 0 0;
	font-size: 20px;
	height: 25px;
	margin-bottom: 1px;
	position: relative;
	text-align: center;
	width: 25px;
  border-radius: 10px;
}
.thumbnail .SocialIcons a i {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}
.profilebox .SocialIcons a:nth-child(1) {
}
.profilebox .SocialIcons a:nth-child(2) {
}
.profilebox .SocialIcons a:nth-child(3) {
}
.thumbnail:hover .SocialIcons {
	opacity: 1;
	left: 15px;
	transform: rotateY(0deg);
}
.thumbnail .profileInfo {
	background: #ffffff none repeat scroll 0 0;
	bottom: 0;
	height: 25px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	width: 90%;
	transform: rotatex(90deg);
	transform-origin: bottom center 0;
	transition: all 350ms ease;
	opacity: 0;
  border-radius: 10px;
}
.thumbnail .profileInfo > p {
    margin-bottom: 0rem;
    padding-left: 3rem;
}
.thumbnail:hover .profileInfo {
	opacity: 1;
	bottom: 10px;
	transform: rotatex(0deg);
}





/* Aligns text to bottom of the div */
.bottom {
  position: absolute;
        bottom: 0;
        /* right: 0; */
}

/* Responsive table */
.table li {
    border-radius: 3px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    flex-wrap: wrap;
  }
  .table .table-header {
    background-color: #1e96fc;
    font-size: 1.04rem;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    padding: 3rem;
  }
  .table .table-row {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }
  .col {
    flex: 1 1 0%;
  }

	




/* Buttons */

.btn-primary {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background: #072ac8;
  border-width: thin;
  border-color: transparent;
  border-radius: 0.375rem;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  display: flex;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary:hover {
  color: #fff;
  background-color: #1e96fc;
  border-color: transparent;
}

.btn-secondary {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background: #1e96fc;
  border-width: thin;
  border-color: transparent;
  border-radius: 0.375rem;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  display: flex;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-secondary:hover {
  color: #fff;
  background-color: #072ac8;
  border-color: transparent;
}

.btn-cta {
  padding: 0.275rem 0.75rem 0.275rem 2rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #2b2b2b;
  background: #fcf300;
  width: 100px;
  border-width: thin;
  border-color: transparent;
  border-radius: 0.375rem;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  display: flex;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  transform: scale(1);
  animation: pulse-black 2s infinite;
}

.btn-cta:hover {
  color: #2b2b2b;
  background-color: transparent;
  border: 1px solid #fcf300;
}

@keyframes pulse-black {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(246, 242, 4, 0.7);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.btn-link {
  padding: 0.275rem 0.75rem 0.275rem 2rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #072ac8;
  background: transparent;
  width: 100px;
  border-width: thin;
  /* border: 1px solid #072ac8; */
  border-radius: 0.375rem;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  display: flex;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.btn-link:hover {
  color: #FAFBFC;
  background-color: #072ac8;
}

.btn-outlined {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #2b2b2b;
  background: transparent;
  border-width: thin;
  border:1px solid #2b2b2b;
  border-radius: 0.375rem;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  display: flex;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-outlined:hover {
  color: #fff;
  background-color: #2b2b2b;
  border:1px solid #2b2b2b;
}

.btn-primary-lg {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background: #072ac8;
  width: 150px;
  border-width: thin;
  border-color: transparent;
  border-radius: 0.375rem;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  display: flex;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary-lg:hover {
  color: #fff;
  background-color: #1e96fc;
  border-color: transparent;
}

.btn-primary-sm {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background: #072ac8;
  width: 75px;
  border-width: thin;
  border-color: transparent;
  border-radius: 0.375rem;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  display: flex;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary-sm:hover {
  color: #fff;
  background-color: #1e96fc;
  border-color: transparent;
}
.btn-primary-block {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background: #072ac8;
  /* width: 80vh; */
  width: 300px;
  border-width: thin;
  border-color: transparent;
  border-radius: 0.375rem;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  display: flex;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary-block:hover {
  color: #fff;
  background-color: #1e96fc;
  border-color: transparent;
}



/* Dropdown */

.dropdown {
  display: inline-block;
  /* margin: 30px; */
  position: relative;
  width: 150px;
  text-align: center;
}
.label {
  width: 100%;
  position: absolute;
  line-height: 45px;
  top: 0px;
  left: 0px;
  background-color: #072ac8;
  color: #FAFBFC;
  border: none;
  /* border-radius: 10px; */
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);  font-weight: 700;
  text-align: center;
  -webkit-transition: 0.04s ease-in-out;
  transition: 0.04s ease-in-out;
}
.list {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 45px;
  left: 0px;
  border-top: 1px solid #eee;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.option {
  width: 100%;
  line-height: 45px;
  background-color: #fff;
  /* border-radius: 45px; */
  /* margin-top: 0.5rem; */
  text-align: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);  
  font-weight: 700;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  font-weight: 400;
}
.option:hover {
  background-color: #eee;
}

#drop:checked~ .opt-list {
  visibility: visible;
  opacity: 2;
  z-index: 10;
}

.dd-ds > .container {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}




@media 
  only screen
  and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px){
/* .dropdown {margin-left: 4.5rem;} */
.dd-ds > .container > .dropdown > .label {
  position: initial;
}
.dd-ds > .container {
  padding: 1rem 2rem 1rem 2rem;
}
  }



/* Unordered list */

.u-list{
  width: 300px;
  color: #2b2b2b;
}

.u-list > ul {
justify-content: center;
border: 1px solid #072ac8;
max-width: 300px;
}

.u-list > li {
border-bottom: 1px solid #072ac8;
}


.ul-1 { list-style-type: disc; }
.ul-2 { list-style-type: circle; }
.ul-3 { list-style-type: square; }
.ul-4 { list-style-type: none; }

.flex-container > .ul {
  height: 300px;
}


.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  width: 315px;
}

.list-group > ul {
  max-width: 500px;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 1rem;
  color: #2b2b2b;
  text-decoration: none;
  background-color: #FAFBFC;
  border: 1px solid #072ac8;
}





/* Sidebar title */
.side-bar {
  position: fixed;
  top: auto;
  overflow-y: scroll;
  width: 250px;
  border-right: 1px solid #072ac8;
  height: 100vh; /*Extend it to the max viewport*/
}
.side-bar .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black; /*Change to primary color*/
  padding: 30px 0 0 30px;
}

.container-sidebar {
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.h2-sidebar {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.side-bar .items {
  margin-top: 1rem;
}

.side-bar .items li {
  list-style: none;
  padding: 15px 0;
  transition: 0.3s ease;
}

/* Links hover */
.side-bar .items li:hover {
  background: #a2d6f9;
  cursor: pointer;
}

.side-bar .items li:nth-child(1) {
  border-left: 4px solid #fff;
}

/* Sidebar link text color */
.side-bar .items li i {
  color: black;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  margin: 0 10px 0 25px;
}
/* Sidebar link text color hover */
.side-bar .items li:hover i,
.side-bar .items li:hover a {
  color: #F3F4F6;
}

.side-bar .items li a {
  text-decoration: none;
  color: black;
  font-weight: 300px;
  transition: 0.3s ease;
}

/* Side bar links */
.active {
font-weight: bold;
}

.interface {
  width: calc(100% - 250px);
  margin-left: 250px;
  position: absolute;
}




/* Navigation bar  for design system*/

/* This is the top bar */
.navigation-bar { 
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: #FAFBFC;
    padding: 1rem;
    border-bottom: 3px solid #072ac8;
  }

/* This is for the links */
  .resources a { 
    color: #072ac8;
      padding-right: 2rem;
      text-decoration: none;
  /* Needs to be resized */
  }
  
  .navigation-bar > .nav-header {
    display: inline;
  }

  
  .navigation-bar > .nav-btn {
    display: none;
  }
  
  .navigation-bar > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
    padding-right: 0.5rem;
  } 
 
  .navigation-bar > .nav-links > a {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #2b2b2b;
  } 
  
  .navigation-bar > .nav-links > a:hover {
    text-decoration: underline #1e94fcb1 4px solid;
  }
  
  .navigation-bar > #nav-check {
    display: none;
  }

  /* This is only for larger screens to hide the nav links */
@media (max-width: 1500px){
  .navigation-bar > .nav-links {display: none;}

}
  @media 
  only screen
  and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px){
    .navigation-bar > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .navigation-bar > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
      position: relative;
    }
    .navigation-bar > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .navigation-bar > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #072ac8;
    }
    .navigation-bar > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #a2d6f9;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
      z-index: 2;
    }

    .navigation-bar > .nav-links > a {
      display: block;
      width: 100%;
    }
    .navigation-bar > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .navigation-bar > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
    .resources {
    padding-right: 2rem;
    }

  }



.side-bar-btn {
  display: none;
  color: #2b2b2b;
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px;
}


/* Navigation bar for example site */

.nav {
  height: 50px;
  width: 100vw;
  /* background-color: #072ac8; */
  position: relative;
  z-index: 2;
}

/* This is for design system view */

.container > .nav {width: 100%;}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  /* color: #FAFBFC; */
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
  padding-right: 0.5rem;
}

.nav > .nav-links > a {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  /* color: #FAFBFC */
}

.nav > .nav-links > a:hover {
  text-decoration: underline #FAFBFC 4px solid;
}

.nav > #nav-check {
  display: none;
}

/* This is to resize it  in navigation section*/
.nav-ds > .container {
  padding-right: calc(1.5rem * 1);
  padding-left: calc(1.5rem * 1.5);
}

.navigation > h2 {
margin-bottom: 0;
padding: 1rem 1rem 0 2rem;
margin-top: 0;
}

/* This is for toggle style-2 */

.style-2 > .nav > .nav-btn > .label {
  background-color: transparent;

}

.style-2 > .nav > .nav-btn > .label > span {
border-top: 2px solid #1e96fc;}

/* Media Queries: Navigation bar for sample site */
@media 
  only screen
  and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px){
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
    position: relative;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}







/* Section title - Changes according the page */
.i-name {
  color: #072ac8;
  padding: 30px 30px 30px 30px;
  font-size: 24px;
  font-weight: 700;
  margin-top: 70px;
}



/* Cards section */
.cards {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.box {
  margin: 30px auto;
  width: 300px;
  height: 300px;
    /* box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.069), 
    -5px -5px 30px 15px rgba(0, 0, 0, 0.069); */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
  transition: 0.4s;
}




/* Card link */
.box a{
  text-decoration: none;
  color: #072ac8;
  font-weight: lighter;
}
.box .card_image {
  width: 230px;
  height: 225px;
  border-radius: 10px;
  padding-left: 2rem;
  padding-top: 1.5rem;
}

.box > .card_image > img {
  width: inherit;
    height: auto;
    border-radius: inherit;
    object-fit: cover;
}

.box > .card_title > p {
  text-align: center;
  font-weight: lighter;
  font-size: 1.5rem;
 padding: 2rem 0 0 0;
 margin-bottom: 0;
}

.box:hover {
  transform: scale(0.9, 0.9);
  /* box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22); */
}

.title-white {
  color: #072ac8;
}

.title-black {
  color: black;
}


/* Media Queries */



@media(min-device-width: 768px){
  .p-flex {height: 500px;
}

}



@media (max-width: 767px){
  .side-bar {
    width: 270px;
    position: fixed;
    left: -270px;
    transition: 0.3s ease;
}
.side-bar.active {
    left: 0px;
}
.side-bar-btn {
    display: initial;
}
/* .n1 i {
  display: initial;
  margin-right: 1rem;
} */

.interface {
    width: 100%;
    margin-left: 0px;
    display: inline-block;
    transition: 0.3s ease;
}
.side-bar.active~.interface {
    width: calc(100% - 270px);
    margin-left: 270px;
    transition: 0.3s ease;
}
.interface .navigation-bar {
    width: 100%;
}
/* .section {
  display: block;
} */
.container{max-width: 720px;}
.p-flex{height: 500px;
    width: 370px;
    padding: 1rem;
    text-align: justify;
    margin-left: 1rem;
}
}


/* Smaller Screens */
@media (max-width:477px) {
/* h1 {padding: 1rem 3rem 1rem 2rem;} */




  /* .interface .navigation-bar {
      padding: 15px;
  } */
  .flex-item {
    height: 250px;
width: 300px;
  }
table{flex-shrink: 1;}
  
  /* .interface .navigation-bar .search-field input {
      width: 150px;
  } */

  .i-name {
      padding: 30px 15px 0 15px;
  }

  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
  .container{max-width: 540px;}
  .flex-container{
      display: grid;
    }
figcaption{
  margin-left: 5rem;
  margin-right: 6rem;
}
    }
    





